<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- 控制台日志 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level%logger{80}.%method - %msg%n</pattern>
		</layout>
	</appender>
<!-- 
	<appender name="featsLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home:-..}/logs/featsLog.log</File>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home:-..}/logs/featsLog.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
	</appender> -->

	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate.SQL" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
